.title{
                text-align: center;   
            }

            .container-box{
                display: flex;
                flex-direction:column;
                gap: 20px;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
            }

            .container-box label{
                width: 300px;
                padding: 20px;
                text-align: center;
            }