/* style.css */

/* 右上スコア */

#miniScoreBox{
    position:fixed;

    top:20px;
    right:20px;

    width:260px;
    height:95px;

    background:#f5f5f5;

    border-radius:20px;

    display:flex;
    align-items:flex-end;

    padding:10px 18px;

    z-index:5000;

    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

/* 非表示時 */
#miniScoreBox.hide{
    opacity:0;
    transform:translateY(-10px);
    pointer-events:none;
}

.miniLabel{
    font-size:clamp(12px,1.2vw,20px);
    margin-right:10px;
    margin-bottom:8px;
        white-space: nowrap;
        flex-shrink:1;
}

#miniScoreValue{
    font-size:58px;
    line-height:0.9;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background: transparent;
    font-family:sans-serif;
}

/* 全体オーバーレイ */
#scoreOverlay{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,0);

    display:flex;
    justify-content:center;
    align-items:center;

    opacity:0;
    pointer-events:none;

    transition:
        background 0.5s ease,
        opacity 0.5s ease;
}

/* 表示状態 */
#scoreOverlay.show{
    background:rgba(0,0,0,0.6);
    opacity:1;
    pointer-events:auto;
}

/* スコア枠 */
.scoreBox{
    width:900px;
    height:330px;

    background:#f5f5f5;

    border-radius:50px;

    display:flex;
    align-items:flex-end;

    padding:40px 60px;

    position:relative;

    transform:scale(0.8);
    opacity:0;

    transition:
        transform 0.45s ease,
        opacity 0.45s ease;
}

#scoreOverlay.show .scoreBox{
    transform:scale(1);
    opacity:1;
}

/* 左下ラベル */
.label{
    /*自動サイズ調整*/
    font-size:clamp(28px,3vw,58px);
    margin-right:40px;
    margin-bottom:20px;
    /*折り返し禁止*/
    white-space: nowrap;
/*はみ出し防止*/
    flex-shrink:1;
}

/* スコア数字 */
#scoreValue{
    font-size:240px;
    line-height:0.9;
    font-weight:300;
}

/* 増減表示 */
#diffText{
    position:absolute;

    top:50px;
    right:350px;

    z-index: 10000;

    font-size:110px;
    font-weight:bold;

    opacity:0;
}

/* プラス */
#diffText.plus{
    color:#41e35c;
}

/* マイナス */
#diffText.minus{
    color:#d64b3c;
}

/* 上に移動 */
.diff-up{
    animation:diffUp 1.6s ease forwards;
}

/* 下に移動 */
.diff-down{
    animation:diffDown 1.6s ease forwards;
}

@keyframes diffUp{
    0%{
        transform:translateY(20px);
        opacity:0;
    }

    20%{
        opacity:1;
    }

    100%{
        transform:translateY(-60px);
        opacity:0;
    }
}

@keyframes diffDown{
    0%{
        transform:translateY(-20px);
        opacity:0;
    }

    20%{
        opacity:1;
    }

    100%{
        transform:translateY(60px);
        opacity:0;
    }
}